/* //////////////////////////////////////////
        Coding Dojo > Web Fundamentals > CSS
        Text Styling
        By: Virgilio D. Cabading
        October 11, 2021
        ////////////////////////////////////
*/

body {
    background-color: grey;
}

.myCloud {
    background-color: black;
    color: white;
    width: 90%;
}

.completeProjects {
    
}

.contactUs {

}

