/* //////////////////////////////////////////
        Coding Dojo > Web Fundamentals > CSS
        Text Styling
        By: Virgilio D. Cabading
        October 11, 2021
        ////////////////////////////////////
*/

body > * {
    width: 90%;
    font-family: sans-serif;
    margin: 10px;
    border-width: 3px;
}

.myCloud {
    background-color: black;
    color: white;
    text-align: left;
}

.completeProjects {
    background-color: rebeccapurple;
    color: white;
    text-align: center;
    font-style: italic;
}

.contactUs {
    background-color: aquamarine;
    color: rebeccapurple;
    text-align: right;
}

